body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: white;
    fill: white;
    background-color: #171414;
}

.navbar {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: black;

    font-size: 20px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;

    z-index: 999;
}

.navbar > div {
    position: absolute;
    display: inline-block;
    margin: 0 15px;
}

.navbar > .tabs {
    right: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar > .tabs > .tab {
    display: inline-block;
    margin: 0 15px;
}

.navbar > .tabs > .reduced-portfolio-link {
    display: none;
}

.section {
    position: relative;
    padding: 0 20px;
}

.section a {
    color: white;
}

.section > div {
    padding: 40px 0;

    width: 1100px;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.section .text {
    font-size: 30px;
    margin-top: 40px;
}

.section .text .subsection-title {
    font-size: 35px;
    font-weight: 900;
}

.section .text .conclusion-text {
    padding-top: 40px;
    clear: both;
}

.section .title {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.section .subtitle {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.section .links {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.section .links > .link {
    display: inline-block;
    margin: 20px;
    margin-bottom: 0;
    transition: fill .2s linear;
}

.section .links > .link:visited {
    fill: white;
}

.section .links > .link:hover {
    fill: #A5C8DE;
}

.section .links svg {
    height: 32px;
    width: auto;
}

.presentation {
    padding-top: 60px;
    background: url(../img/aurora-boreale.jpg) no-repeat;
    background-size: cover;
}

.presentation > div {
    width: 800px;
}

.presentation .title, .presentation .subtitle {
    text-transform: uppercase;
}

.about-me {
    background-color: #2f2e2e;
}

.about-me .title {
    font-size: 60px;
    text-align: left;
}

.about-me .text {
    font-size: 18px;
}

.about-me .text > img {
    float: left;
    padding-right: 30px;
}

.experience .title {
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 60px;
}

.experience .text {
    font-size: 22px;
}

.experience .text > img {
    float: left;
    padding-right: 30px;
}

@media screen and (max-width: 800px) {
    .section .text > img {
        float: none;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        padding-right: 0;
    }

    .navbar > .tabs {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .navbar .text {
        display: none;
        margin: 0;
    }

    .navbar > .tabs > .portfolio-link {
        display: none;
    }

    .navbar > .tabs > .reduced-portfolio-link {
        display: inline-block;
    }
}
